* 									{margin: 0; padding: 0; }
body									{font: 14px Arial, Sans-Serif;} 
#header-wrap						{width: 100%; padding-bottom: 35px; } 
#logo								{width:900px; Margin:auto; }
#navbar								{background:#778899; width:100%;  }
#inner-navbar						{background:#778899; width:900px; height:43px; font: 16px arial, Sans-Serif; color: #FFFFFF; margin:auto; }
#content-wrap						{width: 900px; margin:auto; min-height:100px; height:100%; }
#footer								{width: 100%; padding-top: 25px;}
a									{text-decoration: none; color:skyblue;}
a:visited							{text-decoration: none; color:skyblue; }
ul									{list-style: none; }
p                                  					{margin: 2px 0; }
#googsearch							{padding-top: 100px; min-height: 100%;height: auto; height: 100%;margin: 0 auto -4em;}

.clear								{clear: both;}
 
h1									{font: 30px Helvetica, Sans-Serif; }
h2									{font: Helvetica, Sans-Serif; }
h3									{font: Helvetica, Sans-Serif; }
h4									{font: Helvetica, Sans-Serif; }


.actuatorSlider						{float:left; width:50%;}
.actuatorBtn						{float:left; width:40%;}
.tabContent							{min-height:800px; width:100%;}
.portlet-content li					{width:100%;min-height:20px ;margin:10px;float:left}
.portlet-content li div				{float:left; margin-right:20px; margin-left:10px;}
.leftList .portlet-toggle			{display:none;}
.sortIcon							{float:left;margin:3px 10px 0px 5px;}
.spinner							{width:50px;}

.ui-button-text						{padding:5px !important;}

.leftList {
    border: 1px solid #eee;
    width: 200px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  .leftList li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 180px;
  }
  
  .sortable{
    border: 1px solid #eee;
    width: 600px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  
    .sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
  }
  
  
  .portlet-header {
    padding: 5px ;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  
    select {
      min-width: 60px;
    }